[submodule "public/curriculum"]
	path = public/curriculum
	url = https://github.com/AccedemiaDev/Curriculum.git
[submodule "public/learning-project"]
	path = public/learning-project
	url = https://github.com/AccedemiaDev/CompraFacilInaccessible.git
