[submodule "public/curriculum"]
	path = public/curriculum
	url = https://github.com/Seb0927/AccedemiaCurriculum.git
[submodule "public/learning-project"]
	path = public/learning-project
	url = https://github.com/Seb0927/CompraFacilInaccessible.git
