[submodule "CompraFacilInaccessible"]
	path = CompraFacilInaccessible
	url = https://github.com/Seb0927/CompraFacilInaccessible.git
[submodule "AccedemiaCurriculum"]
	path = AccedemiaCurriculum
	url = https://github.com/Seb0927/AccedemiaCurriculum.git
